@model Domain.Entities.Paciente
@{
    ViewData["Title"] = "Criar paciente";
}

<div class="text-center">
    <h1 class="display-4">Cadastrar Paciente</h1>
</div>


<form asp-controller="PacienteWeb" asp-action="Adcionar" method="post">
    
    <div class="form-group">
        <label for="nome" class="form-label">Nome</label>
        <input type="text" asp-for="nome" class="form-control" placeholder="Digite o nome do paciente">
        @Html.ValidationMessageFor(x => x.nome)
    </div>

    <div class="form-group">
        <label for="nome" class="form-label">Senha</label>
        <input type="text" asp-for="senha" class="form-control" placeholder="Digite a senha do paciente">
        @Html.ValidationMessageFor(x => x.senha)
    </div>
    <div class="form-group">
        <label for="nome" class="form-label">Endereco</label>
        <input type="text" asp-for="endereco" class="form-control" placeholder="Digite o endereco do paciente">
        @Html.ValidationMessageFor(x => x.endereco)
    </div>

    <div class="form-group">
        <label for="nome" class="form-label">CpfCnpj</label>
        <input type="text" asp-for="cpf_cnpj" class="form-control" placeholder="Digite cpf ou cnpj do paciente">
        @Html.ValidationMessageFor(x => x.cpf_cnpj)
    </div>

    <div class="form-group">
        <label for="nome" class="form-label">E-mail</label>
        <input type="text" asp-for="email" class="form-control" placeholder="Digite o e-mail do paciente">
        @Html.ValidationMessageFor(x => x.email)
    </div>

    <div class="form-group">
        <label for="nome" class="form-label">Telefone</label>
        <input type="text" asp-for="telefone" class="form-control" placeholder="Digite o celular do paciente">
        @Html.ValidationMessageFor(x => x.telefone)
    </div>

    <div class="form-group">
        <label for="nome" class="form-label">Tipo_Paciente</label>
        <input type="text" asp-for="tipo_paciente" class="form-control" placeholder="Digite o tipo do paciente">
        @Html.ValidationMessageFor(x => x.tipo_paciente)
    </div>
    <br>
    <button type="submit" class="btn btn-primary btn-block">Adicionar</button>
    <a class="btn btn-secondary btn-block" asp-action="Index" asp-controller="PacienteWeB" role="button">Voltar</a>

</form>
