@model List<Domain.Entities.ContasPagar>
@{
    ViewData["Title"] = "Listagem de Contas Pagar";
}

<div class="text-center">

    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" asp-controller="ContasPagarWeb" asp-action="Adcionar" role="button">Adicionar nova conta a pagar</a>
    </div>

    <br />

    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemSucesso"]
        </div>
    }

    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" role="alert">
            <button type="button" class="btn btn-danger btn-sm close-alert" data-bs-dismiss="alert" aria-label="Close">X</button>
            @TempData["MensagemErro"]
        </div>
    }

    <br />

    <h1 class="display-4">Listagem de contas a pagar</h1>

    <table id="table-Paciente" class="display" style="width:100%">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Valor</th>
                <th scope="col">Data de Emissao</th>
                <th scope="col"> Data de Vencimento</th>
                
               
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Any())
            {
                foreach (var ContasPagar in Model)
                {
                    <tr>
                        <th scope="row">@ContasPagar.id_conta_pagar</th>
                        <td>@ContasPagar.valor</td>
                        <td>@ContasPagar.data_emissao</td>
                        <td>@ContasPagar.data_vencimento</td>
                    
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" asp-action="Atualizar" asp-controller="ContasPagarWeb" asp-route-id="@ContasPagar.id_conta_pagar" class="btn btn-primary">Editar</a>
                                <a role="button" asp-action="Excluir" asp-controller="ContasPagarWeb" asp-route-id="@ContasPagar.id_conta_pagar" class="btn btn-danger">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr class="odd"><td valign="top" colspan="5">Nenhuma Conta a Pagar encontrada</td></tr>
            }
        </tbody>
    </table>

</div>

